@model StudentApp.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<h2>Delete Student</h2>

<div>
    <h4>Are you sure you want to delete the following student?</h4>
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth</dd>

        <dt class="col-sm-2">GPA</dt>
        <dd class="col-sm-10">@Model.GPA</dd>

        <dt class="col-sm-2">Hobby</dt>
        <dd class="col-sm-10">@Model.Hobby</dd>

        <dt class="col-sm-2">Program</dt>
        <dd class="col-sm-10">@Model.ProgramCode</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("List", "Student")" class="btn btn-secondary">Cancel</a>
    </form>
</div>

